.contents {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    h2{
        color:#6C2358 ;

    }
    
}

.post_area {
    border: solid 1px black;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em;
    border:solid #ED19B2;
}

.post_area_top {
    display: flex;
    justify-content: space-between;
}

.post_area_container {
    display: flex;
    flex-grow: 1;
}

.post_area_media {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: dashed 1px gray;

    div {
        flex-grow: 1;
        position: relative;

        p {
            text-align: center;
        }
    }
}

.post_area_input {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 0.5em;
    flex-direction: column;

    input {
        width: 90%;
    }

    textarea {
        width: 90%;
        height: 30%;
        margin-bottom: 1em;
    }
}