html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

#__next {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    margin: 2px;
}

main {
    flex-grow: 1;
}

h1 {
    margin: 0;
}