.main {
    display: flex;
}

.side {
    align-items: center;
    display: flex;
    margin: 0 0.5em;
    
    aside {
        
        ul {
            list-style-type: none;
            padding-inline-start: 0px;

            li {
                text-align: center;
                margin: 2em 0;
            }
        }
    }
}

.contents {
    display: flex;
    flex-grow: 1;
}

.map_area {
    width: 70%;
    display: flex;
    flex-direction: column;

    .leaflet-container {
        flex-grow: 1;
    }
}

.list_area {
    width: 30%;
}